<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_4.dtd" >
-->

<web-app>
    <display-name>On-line stock trading system</display-name>
    <servlet>
        <display-name>LoginController</display-name>
        <servlet-name>LoginController</servlet-name>
        <description></description>
        <servlet-class>resources.LoginController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>LogoutController</display-name>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>resources.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCustomersController</servlet-name>
        <display-name>GetCustomersController</display-name>
        <description></description>
        <servlet-class>resources.GetCustomersController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AddCustomerController</display-name>
        <servlet-name>AddCustomerController</servlet-name>
        <servlet-class>resources.AddCustomerController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>UpdateCustomerController</display-name>
        <servlet-name>UpdateCustomerController</servlet-name>
        <servlet-class>resources.UpdateCustomerController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>EditCustomerController</display-name>
        <servlet-name>EditCustomerController</servlet-name>
        <servlet-class>resources.EditCustomerController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>DeleteCustomerController</display-name>
        <servlet-name>DeleteCustomerController</servlet-name>
        <servlet-class>resources.DeleteCustomerController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AddEmployeeController</display-name>
        <servlet-name>AddEmployeeController</servlet-name>
        <servlet-class>resources.AddEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetEmployeesController</display-name>
        <servlet-name>GetEmployeesController</servlet-name>
        <servlet-class>resources.GetEmployeesController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>EditEmployeeController</display-name>
        <servlet-name>EditEmployeeController</servlet-name>
        <servlet-class>resources.EditEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>UpdateEmployeeController</display-name>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <servlet-class>resources.UpdateEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>DeleteEmployeeController</display-name>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <servlet-class>resources.DeleteEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>SalesReportController</display-name>
        <servlet-name>SalesReportController</servlet-name>
        <servlet-class>resources.SalesReportController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetItemsController</display-name>
        <servlet-name>GetItemsController</servlet-name>
        <servlet-class>resources.GetItemsController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetBestsellersController</display-name>
        <servlet-name>GetBestsellersController</servlet-name>
        <servlet-class>resources.GetBestsellersController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetHighestRevenueEmployeeController</display-name>
        <servlet-name>GetHighestRevenueEmployeeController</servlet-name>
        <servlet-class>resources.GetHighestRevenueEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetHighestRevenueCustomerController</display-name>
        <servlet-name>GetHighestRevenueCustomerController</servlet-name>
        <servlet-class>resources.GetHighestRevenueCustomerController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>ViewSearchStocksController</display-name>
        <servlet-name>ViewSearchStocksController</servlet-name>
        <servlet-class>resources.ViewSearchStocksController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetSummaryListingController</display-name>
        <servlet-name>GetSummaryListingController</servlet-name>
        <servlet-class>resources.GetSummaryListingController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetCustomerMailingListController</display-name>
        <servlet-name>GetCustomerMailingListController</servlet-name>
        <servlet-class>resources.GetCustomerMailingListController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetStocksController</display-name>
        <servlet-name>GetStocksController</servlet-name>
        <servlet-class>resources.GetStocksController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetActivelyTradedStocksController</display-name>
        <servlet-name>GetActivelyTradedStocksController</servlet-name>
        <servlet-class>resources.GetActivelyTradedStocksController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetStockSuggestionsController</display-name>
        <servlet-name>GetStockSuggestionsController</servlet-name>
        <servlet-class>resources.GetStockSuggestionsController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetStocksByTypeController</display-name>
        <servlet-name>GetStocksByTypeController</servlet-name>
        <servlet-class>resources.GetStocksByTypeController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetStocksByNameController</display-name>
        <servlet-name>GetStocksByNameController</servlet-name>
        <servlet-class>resources.GetStocksByNameController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetStocksByCustomerController</display-name>
        <servlet-name>GetStocksByCustomerController</servlet-name>
        <servlet-class>resources.GetStocksByCustomerController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetOrderHistoryController</display-name>
        <servlet-name>GetOrderHistoryController</servlet-name>
        <servlet-class>resources.GetOrderHistoryController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetCustomerBestsellersController</display-name>
        <servlet-name>GetCustomerBestsellersController</servlet-name>
        <servlet-class>resources.GetCustomerBestsellersController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>ViewSetStockPriceController</display-name>
        <servlet-name>ViewSetStockPriceController</servlet-name>
        <servlet-class>resources.ViewSetStockPriceController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>ViewGetStockPriceHistoryController</display-name>
        <servlet-name>ViewGetStockPriceHistoryController</servlet-name>
        <servlet-class>resources.ViewGetStockPriceHistoryController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>ViewAddOrderController</display-name>
        <servlet-name>ViewAddOrderController</servlet-name>
        <servlet-class>resources.ViewAddOrderController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetStockPriceHistoryController</display-name>
        <servlet-name>GetStockPriceHistoryController</servlet-name>
        <servlet-class>resources.GetStockPriceHistoryController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>AddOrderController</display-name>
        <servlet-name>AddOrderController</servlet-name>
        <servlet-class>resources.AddOrderController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetSalesController</display-name>
        <servlet-name>GetSalesController</servlet-name>
        <servlet-class>resources.GetSalesController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>SetStockPriceController</display-name>
        <servlet-name>SetStockPriceController</servlet-name>
        <servlet-class>resources.SetStockPriceController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>ViewCustomerStockSuggestionsController</display-name>
        <servlet-name>ViewCustomerStockSuggestionsController</servlet-name>
        <servlet-class>resources.ViewCustomerStockSuggestionsController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>ViewAddCustomerOrderController</display-name>
        <servlet-name>ViewAddCustomerOrderController</servlet-name>
        <servlet-class>resources.ViewAddCustomerOrderController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetOrdersByCustomerController</display-name>
        <servlet-name>GetOrdersByCustomerController</servlet-name>
        <servlet-class>resources.GetOrdersByCustomerController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetOrderPriceHistoryController</display-name>
        <servlet-name>GetOrderPriceHistoryController</servlet-name>
        <servlet-class>resources.GetOrderPriceHistoryController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>ViewSearchOrdersController</display-name>
        <servlet-name>ViewSearchOrdersController</servlet-name>
        <servlet-class>resources.ViewSearchOrdersController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetOrdersByStockSymbolController</display-name>
        <servlet-name>GetOrdersByStockSymbolController</servlet-name>
        <servlet-class>resources.GetOrdersByStockSymbolController</servlet-class>
    </servlet>
    <servlet>
        <description>
        </description>
        <display-name>GetOrdersByCustomerNameController</display-name>
        <servlet-name>GetOrdersByCustomerNameController</servlet-name>
        <servlet-class>resources.GetOrdersByCustomerNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetStockPriceController</servlet-name>
        <url-pattern>/setStockPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomersController</servlet-name>
        <url-pattern>/getCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeController</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmployeesController</servlet-name>
        <url-pattern>/getEmployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEmployeeController</servlet-name>
        <url-pattern>/editEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeController</servlet-name>
        <url-pattern>/updateEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeController</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesReportController</servlet-name>
        <url-pattern>/showSalesReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemsController</servlet-name>
        <url-pattern>/getItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBestsellersController</servlet-name>
        <url-pattern>/getBestsellers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHighestRevenueEmployeeController</servlet-name>
        <url-pattern>/getHighestRevenueEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderPriceHistoryController</servlet-name>
        <url-pattern>/getOrderPriceHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHighestRevenueCustomerController</servlet-name>
        <url-pattern>/getHighestRevenueCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSummaryListingController</servlet-name>
        <url-pattern>/getSummaryListing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerMailingListController</servlet-name>
        <url-pattern>/getCustomerMailingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerController</servlet-name>
        <url-pattern>/editCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerController</servlet-name>
        <url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetActivelyTradedStocksController</servlet-name>
        <url-pattern>/getActivelyTradedStocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStocksController</servlet-name>
        <url-pattern>/getStocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStockSuggestionsController</servlet-name>
        <url-pattern>/getStockSuggestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStocksByTypeController</servlet-name>
        <url-pattern>/getStocksByType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStocksByNameController</servlet-name>
        <url-pattern>/getStocksByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStocksByCustomerController</servlet-name>
        <url-pattern>/getStocksByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSearchStocksController</servlet-name>
        <url-pattern>/viewSearchStocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCustomerBestsellersController</servlet-name>
        <url-pattern>/getCustomerBestsellers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSalesController</servlet-name>
        <url-pattern>/getSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerController</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerController</servlet-name>
        <url-pattern>/updateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderController</servlet-name>
        <url-pattern>/addOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderHistoryController</servlet-name>
        <url-pattern>/getOrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSetStockPriceController</servlet-name>
        <url-pattern>/viewSetStockPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStockPriceHistoryController</servlet-name>
        <url-pattern>/getStockPriceHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGetStockPriceHistoryController</servlet-name>
        <url-pattern>/viewGetStockPriceHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAddOrderController</servlet-name>
        <url-pattern>/viewAddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAddCustomerOrderController</servlet-name>
        <url-pattern>/viewAddCustomerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerStockSuggestionsController</servlet-name>
        <url-pattern>/viewCustomerStockSuggestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrdersByCustomerController</servlet-name>
        <url-pattern>/getOrdersByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrdersByCustomerNameController</servlet-name>
        <url-pattern>/getOrdersByCustomerName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrdersByStockSymbolController</servlet-name>
        <url-pattern>/getOrdersByStockSymbol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSearchOrdersController</servlet-name>
        <url-pattern>/viewSearchOrders</url-pattern>
    </servlet-mapping>
</web-app>
